
* {
    font-size: large;
}
.calc-body {
    width: 350px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.calc-btns,
.clr-bckspc {
    display: flex;
}

.nums-clr-bckspc,
.operator-btns {
    display: flex;
    flex-direction: column;
}

.num-btns {
    display: flex;
    flex-wrap: wrap;
}

.clear,
.backspace {
    flex-grow: 1;
    flex-basis: 0;
}

.num,
.operator,
.equal {
    width: 87.5px;
    height: 87.5px;
}

.display,
.clear,
.backspace {
    height: 87.5px;
}

[id='0'] {
    flex-grow: 1;
}

/* NEED TO FIGURE OUT HOW TO GET DISPLAY FONT TO BE BIG */