
* {
    font-size: large;
    font-family: monospace, sans-serif;
}
.calc-body {
    width: 350px;
    height: 525px;
    display: flex;
    flex-direction: column;
}

.calc-btns,
.clr-bckspc {
    display: flex;
}

.nums-clr-bckspc,
.operator-btns {
    display: flex;
    flex-direction: column;
}

.num-btns {
    display: flex;
    flex-wrap: wrap;
}

.clear,
.backspace {
    flex-grow: 1;
    flex-basis: 0;  /* Makes then same size because they both start from 0 instead of the min size of the content */
}

.num,
.operator,
.equal {
    width: 87.5px;
    height: 87.5px;
}

.display-container,
.clear,
.backspace {
    height: 87.5px;
}

[id='0'] {
    flex-grow: 1;
}

.display-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.display {
    font-size: 50px;
    font-weight: 500;
}